<div id="home-container" [style.max-width]="windowWidth+'px'">
    <div class="row">
    <div class="overlay">
        <video id="hero-video" autoplay="autoplay" muted="muted" loop="loop" playsinline="" [style.width]="windowWidth+'px'" [style.height]="windowHeight+'px'">
            <source src="../../dist/assets/primary.mp4">
        </video>
    </div>
    <div id="intro-container">
        <h1 id="intro-name">Chase Spencer</h1>
        <h2 id="intro-title">Software Developer</h2>
    </div>
    </div>

    <div id="description-card" class="row">

    </div>
</div>

<div class="site-gradient">
    <router-outlet></router-outlet>
</div>
