a {
  color: rgb(47, 47, 47);
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  padding: 10px;
}

#home-container {
  background-image: url('/columbus.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-tint {
  background-color: #808080;
  background-blend-mode: multiply;
}

#intro-container {
  border: 1px solid #FFFFFF;
  border-color: rgba(255,255,255,0.35);
  padding: 30px;
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
  left: 0;
  right: 0;
  top: 40%;
}

#intro-name {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 60px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #FFFFFF;
  border-bottom-color: rgba(255,255,255,0.35);
}

#intro-title{
  color: #efefef;
  text-align: center;
  font-size: 30px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

#intro-container {
  border: 1px solid #FFFFFF;
  border-color: rgba(255,255,255,0.35);
  padding: 30px;
  position: absolute;
  margin-left: 25%;
  margin-right: 25%;
  left: 0;
  right: 0;
  top: 40%;
}

#intro-name {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 60px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #FFFFFF;
  border-bottom-color: rgba(255,255,255,0.35);
}

#intro-title{
  color: #efefef;
  text-align: center;
  font-size: 30px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}

#profile-section {
  padding: 75px 0;
  background: #f7f7f7;
}

.header-section {
  text-align: center;
}

.title-section {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  color: #555555;
  text-transform: uppercase;
  padding: 20px 0;
}

.spacing-bar {
  background: #3ebdf0;
  width: 100px;
  height: 2px;
  margin: auto;
}

.subtitle-section {
  text-align: center;
  padding: 30px 0;
}

.subtitle-section p {
  font-size: 1.5em;
}

.profile-pic {
  border: 5px solid #333;
  width: 225px;
  height: 225px;
  margin: 0 20px 20px 0;
}

img {
  max-width: 100%;
}

#skills-section {
  padding: 75px 0;
  background: #f7f7f7;
  text-align: center;
}

#education-section {
  padding: 75px 0;
  background: #f7f7f7;
  text-align: center;
}

#experience-section {
  padding: 75px 0;
  background: #f7f7f7;
  text-align: center;
}

#portfolio-section {
  padding: 75px 0;
  background: #f7f7f7;
  text-align: center;
}

#contact-section {
  padding: 75px 0;
  background: #f7f7f7;
  text-align: center;
}

.donut-inner {
    margin-top: -65%;
    margin-left: 25%;
    width: 50%;
}

.donut-inner-fa {
  font-size: 60px;
}

#wsu-pic {
  max-width: 30%;
  margin: 0 auto;
}

.skill-text {
  margin-top: 25%;
}

@media only screen and (max-width: 670px) {
  #intro-container {
    top: 30%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #intro-name {
    font-size: 45px;
  }

  #intro-title {
    font-size: 20px;
  }
}

/*Start about me*/
#about-me-img {
  box-shadow: #000 5px 3px 0 0;
  width: 310px;
  border: 15px solid rgba(0, 0, 0, 0);
  border-radius: 50% 50% 50% 50%;
  margin: 0 0 40px;
  transition: transform 0.4s ease-out 0s, opacity 0.4s ease-out 0s, -webkit-transform 0.4s ease-out 0s;
}

#about-me-paragraph {
    color: #000;
    text-align: center;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    font-family: "Titillium Web", sans-serif;
    transition: opacity 0.6s ease-out 0s;
}
/*End about me*/
/*Start Timeline*/
.timeline-glyph {
  position: relative;
  padding: 20px 0;
  list-style: none outside none;
  margin: 0;
}

.timeline-glyph:before {
  content: ' ';
  height: 100%;
  opacity: 0.3;
  position: absolute;
  right: 50%;
  top: 0;
  width: 1px;
  background: rgb(143, 143, 143) none repeat scroll 0 0 / auto padding-box border-box;
}

.timeline-section {
  position: relative;
  margin: 0 0 20px;
}

.timeline-section:after {
  clear: both;
  content: ' ';
  display: table;
}

.timeline-glyph-div {
  color: rgb(255, 255, 255);
  height: 50px;
  position: absolute;
  right: 545px;
  top: 16px;
  width: 50px;
  background: #3ebdf0 none repeat scroll 0 0 / auto padding-box border-box;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50% 50% 50% 50%;
  font-weight: 400;
  font-size: 18.2px;
  line-height: 50px;
}

.timeline-card {
  bottom: 0;
  position: relative;
  width: 46%;
  border: 1px solid rgba(0,0,0,.125);
  padding: 30px;
  transition: all 0.5s ease-in-out 0s;
}

.timeline-card:before {
  content: ' ';
  position: absolute;
  right: -15px;
  top: 26px;
  width: 15px;
  border-top: 15px solid rgba(0, 0, 0, 0);
  border-right: 0 solid rgb(143, 143, 143);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 15px solid rgb(143, 143, 143);
  transition: all 0.5s ease-in-out 0s;
}

.timeline-card-dates {
  color: rgb(255, 255, 255);
  position: absolute;
  text-transform: uppercase;
  width: 32%;
  background: rgb(103, 103, 103) none repeat scroll 0 0 / auto padding-box border-box;
  font-size: 12px;
  line-height: 19.2px;
  font-family: "Titillium Web", sans-serif;
  padding: 6px 18px;
  transition: all 0.5s ease-in-out 0s;
}

.timeline-card-body {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    font-family: "Titillium Web", sans-serif;
}

.timeline-card-company {
    box-sizing: border-box;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font: normal normal 400 normal 22px / 28.6px "Titillium Web", sans-serif;
    margin: 24px 0 10px;
    transition: all 0.5s ease-in-out 0s;
}

.timeline-card-position {
    color: rgb(143, 143, 143);
    height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font: normal normal 500 normal 14px / 15.4px "Titillium Web", sans-serif;
    margin: 10px 0 8px;
    transition: all 0.5s ease-in-out 0s;
}

.timeline-card-inverted {
  color: rgb(47, 47, 47);
  float: right;
  bottom: 0;
  position: relative;
  width: 46%;
  border: 1px solid rgba(0,0,0,.125);
  padding: 30px;
  transition: all 0.5s ease-in-out 0s;
}

.timeline-card-inverted:before {
  content: ' ';
  position: absolute;
  right: 522.391px;
  top: 26px;
  width: 15px;
  border-top: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid rgb(143, 143, 143);
  border-bottom: 15px solid rgba(0, 0, 0, 0);
  border-left: 0 solid rgb(143, 143, 143);
  transition: all 0.5s ease-in-out 0s;
}

#timeline-wsu-card-image {
  min-height: 250px;
  background: rgba(0, 0, 0, 0) url(https://i.ytimg.com/vi/Mh3-G1HemWY/maxresdefault.jpg) repeat scroll 50% 50% / cover padding-box border-box;
  transition: all 0.5s ease-in-out 0s;
}

#timeline-omni-card-image {
  min-height: 250px;
  background: rgba(0, 0, 0, 0) url("/omni.png") repeat scroll 50% 50% / cover padding-box border-box;
  transition: all 0.5s ease-in-out 0s;
}

#timeline-smg-intern-card-image {
  min-height: 250px;
  background: rgba(0, 0, 0, 0) url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/cc86d11317771.58a4b9ce6e078.jpg") repeat scroll 50% 50% / cover padding-box border-box;
  transition: all 0.5s ease-in-out 0s;
}

#timeline-smg-card-image {
  min-height: 250px;
  background: rgba(0, 0, 0, 0) url("https://www.nyse.com/publicdocs/nyse/events/images/Scotts-MiracleGro-Company_640x360.png") repeat scroll 50% 50% / cover padding-box border-box;
  transition: all 0.5s ease-in-out 0s;
}

#timeline-end-bar {
  background: #3ebdf0;
  width: 100px;
  height: 3px;
  margin: auto;
}

.timeline-fa {
  font-size: 30px;
}

.timeline-list {
  padding-left: 4%;
}
/*End Timeline*/

/*Start Portfolio*/
.portfolio-img {
  max-height: 200px;
}

.top-space {
  margin-top: 20px;
}

.rounded {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.smaller-imgs {
  margin-top: 20%;
}

.portfolio-cards{
  min-height: 222px;
}

/*End Portfolio*/

@media only screen and (max-width: 385px) {
  #php-glyph {
    font-size: 45px;
  }

  #php-text {
    margin-top: 38%;
  }

  .skill-cards {
    height: 194.81px;
  }
}

@media only screen and (max-width: 670px) {
  #intro-container {
    top: 30%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #intro-name {
    font-size: 45px;
  }

  #intro-title {
    font-size: 20px;
  }
}
