#home-container {
    background-image: url('/columbus.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-tint {
  background-color: #808080;
  background-blend-mode: multiply;
}

#intro-container {
    border: 1px solid #FFFFFF;
    border-color: rgba(255,255,255,0.35);
    padding: 30px;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    left: 0;
    right: 0;
    top: 40%;
}

#intro-name {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 60px;
  font-family: Catamaran,Helvetica,Arial,sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #FFFFFF;
  border-bottom-color: rgba(255,255,255,0.35);
}

#intro-title{
  color: #efefef;
  text-align: center;
  font-size: 30px;
  font-family: Catamaran,Helvetica,Arial,sans-serif;
  font-weight: 700;
}

#intro-container {
    border: 1px solid #FFFFFF;
    border-color: rgba(255,255,255,0.35);
    padding: 30px;
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    left: 0;
    right: 0;
    top: 40%;
}

#intro-name {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 60px;
  font-family: Catamaran,Helvetica,Arial,sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #FFFFFF;
  border-bottom-color: rgba(255,255,255,0.35);
}

#intro-title{
  color: #efefef;
  text-align: center;
  font-size: 30px;
  font-family: Catamaran,Helvetica,Arial,sans-serif;
  font-weight: 700;
}

#profile-section {
  padding: 75px 0;
  background: #f7f7f7;
}

.header-section {
  text-align: center;
}

.title-section {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  color: #555555;
  text-transform: uppercase;
  padding: 20px 0;
}

.spacing-bar {
  background: #3ebdf0;
  width: 100px;
  height: 2px;
  margin: auto;
}

.subtitle-section {
  text-align: center;
  padding: 30px 0;
}

.subtitle-section p {
  font-size: 1.5em;
}

.profile-pic {
  border: 5px solid #333;
  width: 225px;
  height: 225px;
  margin: 0 20px 20px 0;
}

img {
  max-width: 100%;
}

#skills-section {
  padding: 75px 0;
  background: #f7f7f7;
  text-align: center;
}

#education-section {
  padding: 75px 0;
  background: #f7f7f7;
  text-align: center;
}

#experience-section {
  padding: 75px 0;
  background: #f7f7f7;
  text-align: center;
}

#portfolio-section {
  padding: 75px 0;
  background: #f7f7f7;
  text-align: center;
}

#contact-section {
  padding: 75px 0;
  background: #f7f7f7;
  text-align: center;
}

.donut-inner {
   margin-top: -50%;
   margin-bottom: 50%;
}
.donut-inner h5 {
   margin-bottom: 5px;
   margin-top: 0;
}
.donut-inner span {
   font-size: 12px;
}

@media only screen and (max-width: 670px) {
  #intro-container {
    top: 30%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #intro-name {
    font-size: 45px;
  }

  #intro-title {
    font-size: 20px;
  }
}

@media only screen and (max-width: 670px) {
  #intro-container {
    top: 30%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #intro-name {
    font-size: 45px;
  }

  #intro-title {
    font-size: 20px;
  }
}
